body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 112, 112);
    font-family: 'Calibri', sans-serif;
    
    h1 {
        font-size: 3rem;
    }
}